<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static 'uavanalysis/css/style.css' %}">
</head>
<body>

<div class="split-screen">
    <div class="map-container">
        <div id="map" style="border: 1px solid #ddd; height: 100%;"></div>
    </div>
    <div class="right-container">
        <div class="placemarks-header">
            <p>Список активных меток</p>
        </div>
        <div class="placemarks-list-container">
            <div id="placemarks-list"></div>
        </div>
        <div class="placeholder-text">
            <p>Панель управления</p>
        </div>
        <div class="button-container">
            {% csrf_token %}
            <button class="button" id="clear-alarm-button" value="{{ csrf_token }}">Стоп тревога</button>
            <button class="button" id="test-alarm-button">Тест тревоги</button>
            <button class="button" id="start-work-button">Начать работу</button>
        </div>
    </div>
</div>
<!--    <div class="footer">-->
<!--        <p>&copy; 2025 UAV Sound Analysis. All rights reserved.</p>-->
<!--        <p>Developed by [Your Name]</p>-->
<!--    </div>-->
<script type="module" src="{% static 'uavanalysis/js/audio.js' %}"></script>
<script type="module" src="{% static 'uavanalysis/js/map.js' %}"></script>
<script type="module" src="{% static 'uavanalysis/js/btn.js' %}"></script>
</body>
</html>